{%- include snippets/assign.html
  target=site.data.variables.default.page.show_author_profile
  source0=layout.show_author_profile source1=page.show_author_profile -%}
{%- assign _show_author_profile = __return -%}

{%- include snippets/assign.html
  target=site.data.variables.default.page.show_subscribe
  source0=layout.show_subscribe source1=page.show_subscribe -%}
{%- assign _show_subscribe = __return -%}

{%- include snippets/assign.html
  target=site.data.variables.default.page.license
  source0=layout.license source1=page.license -%}
{%- assign _license = __return -%}

<footer class="article__footer">

</footer>
